* {
  margin: 0px 0px 0px 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* .navigation {
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
} */
.navigation {
  position: fixed;
  background-color: rgb(157, 193, 240);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  top: 0px;
  margin: 0px 0px 30px 0px;
  padding: 10px 10px;
}
.navigation a:visited {
  color: rgb(5, 76, 117);
}
.navigation a {
  text-align: center;
  color: rgb(5, 76, 117);
  text-decoration: none;
}
.navigation a:hover {
  color: rgb(128, 149, 161);
  text-decoration: underline;
}
.main {
  margin: 35px 0px 0px 0px;
  width: 100%;
}
h2 {
  color: rgb(5, 76, 117);
  text-align: center;
}
p,
li,
h2 {
  text-align: center;
  list-style-position: inside;
}
div {
  margin: 10px 0 10px 0;
}
p {
  border: 1px dashed rgb(28, 83, 201);
  width: 150px;
  margin-right: 20px;
}
#upper-roman {
  list-style-type: upper-roman;
}
img {
  width: 300px;
  border-radius: 3px;
}
ul {
  list-style-type: square;
}
.unordered ul {
  background-color: rgb(160, 156, 156);
}
.outer-container {
  width: 100%;
  overflow-x: scroll;
  justify-content: center;
}
.para-container {
  display: flex;
  width: fit-content;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .navigation {
    flex-direction: column;
  }
  .main {
    margin: 150px 0px 0px 0px;
  }
}
@media screen and (max-width: 900px) {
  .para-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
